.mapWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.inputWrapper {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  z-index: 10;
}


.homeWrapper {
width: 100%;
}

.sidebar {
  /* margin-right: 16px; */
  width: 100%;
  /* height: 100vh; */
  background-color: #333;
}

.autocompleteWrapper {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.autocompleteInput {
  width: 100%;
  padding: 16px;
  display: block;
  border: 2px solid gray;
  color: white;
}

.suggestionWrapper {
  margin: 0;
  width: 96%;
  overflow-x: hidden;
  list-style: none;
  margin: 0 auto;
  display: block;
  padding: 4px;
}

.suggestionWrapper > li {
  padding: 8px 4px;
  background-color: lightcoral;
  margin: 4px 0;
  cursor: pointer;
}
